body {
    background-color: #063852;
}

nav.navbar {
    background-color: #f0810f;
}

div.pics {
    margin-top: 50px;
    margin-bottom: 25px;
}

div.card-body {
    text-align: center;
}

div.card {
    background-color: #011a27;
    color: antiquewhite;
}